* {
	margin: 0;
	padding: 0px;
}

nav.navbar.navbar-default {
    margin-bottom: 0px !important;
}

ul.nav.navbar-nav a {
    color: #fff;
    float: right;
}

ul.nav.navbar-nav.navbar-right {
    text-align: center;
    padding: 0px 30px;
}

.rigt-side ul.nav.navbar-nav.navbar-right li a:hover {
    border-bottom: 1px solid #000;
    background: #fff;
}

.rigt-side ul.nav.navbar-nav.navbar-right li a {
    color: #000;
		padding: 13px 19px 7px 19px;
    margin: 0 20px;
    font-size: 17px;
}

a.navbar-brand {
    padding: 12px 105px;
}

section#navigasi .navbar {
    margin-bottom: 0px !important;
}

.navbar-brand>img {
    display: block;
    width: 40px;
    height: auto;
		position: relative;
    left: 40px;
    top: -9px;
}

/* Nav -----------------*/

#wrapperHeader.header {
  width: 100%;
}

#wrapperHeader.header img {
    width: 100%;
    height: auto;
}

ul.nav.navbar-nav.text-right {
    float: right;
    padding: 0 50px;
}

ul.nav.navbar-nav.text-right li a {
    margin: 0 20px;
    padding: 10px 27px;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../gambar/banner2.jpg) no-repeat center center;
    background-size: cover;
		background-attachment: fixed;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-mylink {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.intro-message hr {
  margin: 0 auto;
  padding: 10px 0;
}

/* content */

.col-md-8.image-custom-left img {
    width: 100%;
}
.col-md-4.image-custom-right img {
	width: 100%;
}
section#about {
    margin: 20px 0;
}

section#skills {
    margin: 20px 0;
}

section#content-satu {
    margin: 20px 0;
}
li.contact {
    border: 1px solid #000;
    width: 120px;
    height: 40px;
    margin-top: 3px;
    /* box-shadow: 1px 1px 7px -6px #888; */
}

li.contact a {
    margin: -3px 13px !important;
}

.container.center-custom {
    text-align: left;
    padding: 0 150px;
}

.author p {
    text-decoration: underline;
    font-style: italic;
}

.image img {
    max-width: 100%;
		height: auto;
}

.col-md-3.custom-pembagi {
    text-align: center;
}

.col-md-4.image-custom-right img {
    max-width: 100%;
    height: auto;
}

.col-md-8.image-custom-left img {
    max-width: 100%;
    height: auto;
}

.image {
    height: 280px;
    padding: 25px;
}
